asn1crypto>=0.24.0
cffi>=1.12.3
Click>=7.0
cryptography>=2.7
Flask>=1.0.3
Flask-SocketIO>=4.1.0
itsdangerous>=1.1.0
Jinja2>=2.10.1
MarkupSafe>=1.1.1
protobuf>=3.8.0
pycparser>=2.19
PyNDN>=2.11b1
python-engineio>=3.8.1
python-socketio>=4.1.0
six>=1.12.0
Werkzeug>=0.15.4
pystray>=0.14.4
plyvel>=1.1.0
pyqrcode>=1.2.1
pypng>=0.0.20
pillow>=6.1.0
pyzbar>=0.1.8
ecdsa>=0.13.2
fastecdsa>=1.7.4
asn1>=2.2.0
