<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Access Control</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
  <h2>Control Access Rights</h2>
  <div id="access_table">
    <el-table :data="acc_list" border stripe empty-text="no access control available">
      <el-table-column prop="prefix" label="Service Invocation Prefix" min-width="3"></el-table-column>
      <el-table-column prop="accessType" label="Access Rights" min-width="2"></el-table-column>
      <el-table-column label="Update" min-width="3">
        <template slot-scope="scope">
          <div>
            <el-radio v-model="form[scope.$index].access_type" label="Controller Only"></el-radio>
            <el-radio v-model="form[scope.$index].access_type" label="Under-Same-Prefix"></el-radio>
            <el-radio v-model="form[scope.$index].access_type" label="No-Control"></el-radio>
          </div>
          <div>
            <el-button size="mini"  @click="onSubmit(scope.$index)" round>update</el-button>
          </div>
        </template>
      </el-table-column>
    </el-table>
  </div>
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>

<script>
  new Vue({
      el: '#access_table',
      delimiters: ['{[', ']}'],
      data: function(){
        return {
          acc_list: {{service_prefix_list | tojson}},
          form: {{service_prefix_list | tojson}},
          st_code: 200,
          st_text: 'hello'
        };
       },
       methods: {
          onSubmit(index){
            console.log(this.form[index].prefix);
            console.log(this.form[index].access_type);
            axios.post('/exec/update-access-rights',{prefix:this.form[index].prefix,access_type:this.form[index].access_type},{
                        headers: {'Content-Type': 'application/json'}
                        })
                .then(response=>{});
          }
       },
       mounted(){
        if(this.st_code != 200){
          this.$message({
          showClose: true,
          message: this.st_code + " - " + this.st_text,
          type: 'warning'
        });
        }
    }
    });


</script>
