<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Access Control</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/face-list.css') }}">
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
  <h1>Control Access Rights of each service</h1>
  <div id="access_table">
  <table >
    <caption>Services</caption>
    <tr>
      <th>Service Invocation Prefix</th>
      <th>Access Rights</th>
      <th>Access Rights Update</th>
    </tr>
    <tr v-for="(item, index) in acc_list" :key="item.prefix">
      <td>{[item.prefix]}</td>
      <td>
          {[item.access_type]}
      </td>
      <td>
        <div>
        <el-radio v-model="form[index].access_type" label="Controller Only"></el-radio>
        <el-radio v-model="form[index].access_type" label="Under-Same-Prefix"></el-radio>
        <el-radio v-model="form[index].access_type" label="No-Control"></el-radio>
        </div>
        <el-button size="mini"  @click="onSubmit(index)" round>update</el-button>
      </td>
    </tr>
  </table>
  </div>

  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>

<script>
  new Vue({
      el: '#access_table',
      delimiters: ['{[', ']}'],
      data: function(){
        return {
          acc_list: {{service_prefix_list | tojson}},
          form: {{service_prefix_list | tojson}}
        };
       },
       methods: {
          onSubmit(index){
            console.log(this.form[index].prefix);
            console.log(this.form[index].access_type);
            axios.post('/exec/update-access-rights',{prefix:this.form[index].prefix,access_type:this.form[index].access_type})
                .then(response=>{});
          }
       }
    });


</script>
