<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>General Status</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
  <h2>Device List</h2>
  <div id="devicelist">
    <el-table :data="device_list" border stripe>
      <el-table-column prop="device_name" label="Device Name" min-width="2"></el-table-column>
      <el-table-column prop="device_info" label="Device Info" min-width="2"></el-table-column>
      <el-table-column label="Operation" min-width="1">
        <template slot-scope="scope">
        <el-button @click="deleteRow(scope.$index)" type="danger" size="small">remove</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
  {% if st_code %}
    <p>{{ st_code }} {{ st_text }}</p>
  {% endif %}
</body>
</html>


<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#devicelist',
    data(){
      return{
        device_list:{{device_list | tojson}},
      }
     },
     methods:{
        deleteRow(index){
          console.log(this.device_list[index]);
          axios.post('/exec/remove-device',{device_name:this.device_list[index].device_name}).then(response=>{});
        }
     }
  })

</script>

