<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Invocation</title>
    <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
<h2>Service Invocation</h2>

<div id="invoke_service">

    <el-form label-position="left" label-width="120px" :model="form">

        <el-form-item label="Service To Invoke">
            <el-select v-model="form.service_name" placeholder="Select" style="width:75%"
                       no-data-text="No available services">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>

        <el-form-item label="Service Type">
            <el-radio-group v-model="form.is_cmd">
                <el-radio-button label="false">Data Fetching</el-radio-button>
                <el-radio-button label="true">Issue Command</el-radio-button>
            </el-radio-group>
        </el-form-item>

        <el-form-item v-if="form.is_cmd == 'true'" label="Command">
            <el-input v-model="form.data_or_cmd" style="width:75%"></el-input>
        </el-form-item>

        <el-form-item v-if="form.is_cmd == 'true'" label="Parameter">
            <el-input v-model="form.param" style="width:75%"></el-input>
        </el-form-item>

        <el-form-item v-if="form.is_cmd == 'false'" label="Content ID">
            <el-input v-model="form.data_or_cmd" style="width:75%"></el-input>
        </el-form-item>

        <el-form-item>
            <el-button type="primary" type="primary" size="small" round plain @click="onSubmit">express interest to
                invoke service
            </el-button>
        </el-form-item>

    </el-form>
</div>

</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#invoke_service',
    data(){
      return{
        form:{
          service_name:'',
          is_cmd: 'false',
          data_or_cmd:'',
          param:''
        },
        options: {{service_list | tojson}}
      }
     },
    methods:{
      onSubmit(){
          console.log(this.form);
          axios.post('/exec/invoke-service', {service_name: this.form.service_name,
                                        is_cmd: this.form.is_cmd,
                                        data_or_cmd: this.form.data_or_cmd,
                                        param: this.form.param},{
                        headers: {'Content-Type': 'application/json'}
                        }).then(response=>{
                           ret = response.data;
                           if (ret.response_type === 'Timeout'){
                               txt =  '<div>Response Time: ' + ret.response_time +'</div>' +
                                      '<div>Response Type: ' + ret.response_type +'</div>' +
                                      '<div>Name: ' + ret.name + '</div>';
                               this.$notify({
                                  title: 'Timeout',
                                  dangerouslyUseHTMLString: true,
                                  message: txt,
                                  type: 'error'
                               });
                           }else if (ret.response_type === 'NetworkNack'){
                                txt = '<div>Response Time: ' + ret.response_time + '</div>' +
                                      '<div>Response Type: ' + ret.response_type +'</div>' +
                                      '<div>Name: ' + ret.name +'</div>' +
                                      '<div>Reason: ' + ret.reason + '</div>';
                               this.$notify({
                                  title: 'NetworkNack',
                                  dangerouslyUseHTMLString: true,
                                  message: txt,
                                  type: 'error'
                               });
                           }else if (ret.response_type === 'CommandPublished'){
                                txt = '<div>Name: ' + ret.name +'</div>' +
                                      '<div>Command has been published</div>';
                               this.$notify({
                                  title: 'Command Published',
                                  dangerouslyUseHTMLString: true,
                                  message: txt,
                                  type: 'success'
                               });
                           }else{
                                txt = '<div>Response Time: ' + ret.response_time + '</div>' +
                                      '<div>Response Type: ' + ret.response_type + '</div>' +
                                      '<div>Name: ' + ret.name + '</div>' +
                                      '<div>Content: ' + ret.content + '</div>' +
                                      '<div>Freshness Period: ' + ret.freshness_period + '</div>' +
                                      '<div>Final Block Id: ' + ret.final_block_id + '</div>';
                               this.$notify({
                                  title: 'Success',
                                  dangerouslyUseHTMLString: true,
                                  message: txt,
                                  type: 'success'
                               });
                           }
          });
      }
    }
  })

</script>
