<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Service Invocation</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">
</head>
<body>
<h2>Service Invocation</h2>

<div id="invoke_service">
  <el-form label-position="left" label-width="120px" :model="form">

  <el-form-item label="Service ID">
    <el-input v-model="form.service_id" style="width:75%"></el-input>
  </el-form-item>
  <el-form-item label="Can be prefix">

    <el-radio-group v-model="form.can_be_prefix">
      <el-radio label="Any"></el-radio>
      <el-radio label="All"></el-radio>
      <el-radio label="Designated"></el-radio>
    </el-radio-group>
  </el-form-item>

    <el-form-item v-if="form.can_be_prefix == 'Designated'" label="Specific name">
      <el-input v-model="form.granularity" style="width:75%"></el-input>
    </el-form-item>

     <el-form-item v-else label="Service prefix">
      <el-input v-model="form.granularity" style="width:75%"></el-input>
    </el-form-item>

  <el-form-item>
    <el-button type="primary" type="primary" size="small" round plain @click="onSubmit">express interest to invoke service</el-button>
  </el-form-item>

  </el-form>
</div>

{% if response_time %}
  <h2>Response</h2>
  <p>Response Time: {{ response_time|e }}</p>
  <p>Response Type: {{ response_type|e }}</p>
  <p>Name: {{ name|e }}</p>
{% endif %}
{% if content_type %}
  <p>ContentType: {{ content_type|e }}</p>
{% endif %}
{% if freshness_period %}
  <p>FreshnessPeriod: {{ freshness_period|e }}</p>
{% endif %}
{% if final_block_id %}
  <p>FinalBlockId: {{ final_block_id|e }}</p>
{% endif %}
{% if signature_type %}
  <p>SignatureType: {{ signature_type|e }}</p>
{% endif %}
{% if reason %}
  <p>Reason Code: {{ reason|e }}</p>
{% endif %}
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#invoke_service',
    data(){
      return{
        form:{
          service_id:'',
          can_be_prefix:'Any',
          granularity:'',
        }
      }
     },
    methods:{
      onSubmit(){
          console.log(this.form);
          axios.post('/exec/ndn-ping',{service_id: this.form.service_id,
                                       can_be_prefix: this.form.can_be_prefix,
                                       granularity: this.form.granularity}).then(res=>{});
      }
    }
  })
</script>
