<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Service Invocation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<h1>Service Invocation</h1>
<form action="../exec/ndn-ping" method="post">
  <p>
    <label for="service_id">Service ID</label>
    <input type="text" name="service_id" id="service_id" required/>
  </p>
  <p>
    <label for="type_of_invocation">CanBePrefix</label>
    <input type="radio" name="can_be_prefix" id="can_be_prefix" value="any" checked> Any
    <input type="radio" name="can_be_prefix" id="can_be_prefix" value="all"> All
    <input type="radio" name="can_be_prefix" id="can_be_prefix" value="designated"> Designated
  </p>
  <p>
      <label for="name">If designated, please type in device name; otherwise, type in the prefix that you want to trigger the service.</label>
      <br>
      <input type="text" name="granularity" id="granularity" required/>
  </p>
  <p>
    <button type="submit">Express Interest to Invoke Service</button>
  </p>
</form>

{% if response_time %}
  <h2>Response</h2>
  <p>Response Time: {{ response_time|e }}</p>
  <p>Response Type: {{ response_type|e }}</p>
  <p>Name: {{ name|e }}</p>
{% endif %}
{% if content_type %}
  <p>ContentType: {{ content_type|e }}</p>
{% endif %}
{% if freshness_period %}
  <p>FreshnessPeriod: {{ freshness_period|e }}</p>
{% endif %}
{% if final_block_id %}
  <p>FinalBlockId: {{ final_block_id|e }}</p>
{% endif %}
{% if signature_type %}
  <p>SignatureType: {{ signature_type|e }}</p>
{% endif %}
{% if reason %}
  <p>Reason Code: {{ reason|e }}</p>
{% endif %}
</body>
</html>
