<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NDN Ping</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">

</head>
<body>
<h2>NDN Ping</h2>

<div id="ndn_form" >
<el-form label-position="left" label-width="120px" :model="form">
  <el-form-item label="NDN Name">
    <el-input v-model="form.name" style="width:75%"></el-input>
  </el-form-item>
  <el-form-item label="Can be prefix">
    <el-switch v-model="form.can_be_prefix"></el-switch>
  </el-form-item>
  <el-form-item label="Must be fresh">
    <el-switch v-model="form.must_be_fresh"></el-switch>
  </el-form-item>
  <el-form-item label="Signed Interest">
    <el-switch v-model="form.signed_interest"></el-switch>
  </el-form-item>
  <el-form-item label="Interest life time">
     <el-input v-model="form.interest_lifetime" label="Interest lifetime" style="width:20%"></el-input>
  </el-form-item>
  <el-form-item label="Application Parameter">
     <el-input v-model="form.application_parameter" label="Application Parameter" style="width:20%"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" type="primary" size="small" round plain @click="onSubmit">Express Interest</el-button>
  </el-form-item>
  </el-form>
</div>

</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#ndn_form',
    data(){
      return{
          form: {
            name: '',
            can_be_prefix: true,
            must_be_fresh: true,
            signed_interest: false,
            interest_lifetime: 4,
            application_parameter: ''
        }
      }
     },
    methods:{
      onSubmit(){
          console.log(this.form);
          axios.post('/exec/ndn-ping',
                      {name: this.form.name,
                       can_be_prefix: this.form.can_be_prefix,
                       must_be_fresh: this.form.must_be_fresh,
                       signed_interest: this.form.signed_interest,
                       interest_lifetime: this.form.interest_lifetime,
                       application_parameter: this.form.application_parameter},
                       {
                        headers: {'Content-Type': 'application/json'}
                       }).then(response=>{
                           ret = response.data;
                           if (ret.response_type === 'Timeout'){
                               this.$notify({
                                  title: 'Timeout',
                                  message: 'Response Time:' + ret.response_time +
                                      ',Response Type:' + ret.response_type +
                                      ',Name:' + ret.name,
                                  type: 'error'
                               });
                           }else if (ret.response_type === 'NetworkNack'){
                               this.$notify({
                                  title: 'NetworkNack',
                                  message: 'Response Time:' + ret.response_time +
                                      ',Response Type:' + ret.response_type +
                                      ',Name:' + ret.name +
                                      ',Reason:' + ret.reason,
                                  type: 'error'
                               });
                           }else{
                               this.$notify({
                                  title: 'Success',
                                  message: 'Response Time:' + ret.response_time +
                                      ',Response Type:' + ret.response_type +
                                      ',Name:' + ret.name +
                                      ',Content Type:' + ret.content_type +
                                      ',Freshness Period:' + ret.freshness_period +
                                      ',Final Block Id:' + ret.final_block_id +
                                      ',Signature Type:' + ret.signature_type,
                                  type: 'success'
                               });
                           }
          });
      }
    }
  })
</script>
