<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NDN Ping</title>
  <link rel="stylesheet" href="../static/css/element-ui.css">

</head>
<body>
<h2>NDN Ping</h2>

<div id="ndn_form" >
<el-form label-position="left" label-width="120px" :model="form">
  <el-form-item label="NDN Name">
    <el-input v-model="form.name" style="width:75%"></el-input>
  </el-form-item>
  <el-form-item label="Can be prefix">
    <el-switch v-model="form.can_be_prefix"></el-switch>
  </el-form-item>
   <el-form-item label="Must be fresh">
    <el-switch v-model="form.must_be_fresh"></el-switch>
  </el-form-item>
  <el-form-item label="Interest life time">
     <el-input v-model="form.interest_lifetime" label="Interest lifetime" style="width:20%"></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" type="primary" size="small" round plain @click="onSubmit">Express Interest</el-button>
  </el-form-item>
  </el-form>
</div>


{% if response_time %}
  <h2>Response</h2>
  <p>Response Time: {{ response_time|e }}</p>
  <p>Response Type: {{ response_type|e }}</p>
  <p>Name: {{ name|e }}</p>
{% endif %}
{% if content_type %}
  <p>ContentType: {{ content_type|e }}</p>
{% endif %}
{% if freshness_period %}
  <p>FreshnessPeriod: {{ freshness_period|e }}</p>
{% endif %}
{% if final_block_id %}
  <p>FinalBlockId: {{ final_block_id|e }}</p>
{% endif %}
{% if signature_type %}
  <p>SignatureType: {{ signature_type|e }}</p>
{% endif %}
{% if reason %}
  <p>Reason Code: {{ reason|e }}</p>
{% endif %}
</body>
</html>

<script src="../static/scripts/vue.js"></script>
<script src="../static/scripts/element-ui.js"></script>
<script src="../static/scripts/axios.min.js"></script>
<script>
  new Vue({
    el:'#ndn_form',
    data(){
      return{
        form:{
          name:'',
          can_be_prefix:true,
          must_be_fresh:false,
          interest_lifetime:4
        }
      }
     },
    methods:{
      onSubmit(){
          console.log(this.form);
          axios.post('/exec/ndn-ping',
                      {name: this.form.name,
                       can_be_prefix: this.form.can_be_prefix,
                       must_be_fresh: this.form.must_be_fresh,
                       interest_lifetime: this.form.interest_lifetime},
                       {
                        headers: {'Content-Type': 'application/json'}
                       }).then(response=>{});
      }
    }
  })
</script>
